# <p><strong>Module 4 Challenge: Data Analysis With Python<strong></p>

# <p><strong>Analysis of Py City Schools<strong></p>

<ul>
<li>As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher 
    spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).<li><ul>
<li>
As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing mat
    h performances (89-91% passing vs 67/%<i# <li>

As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per sch<li>
</ul>
ool.

# Import the Dependencies

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# Merge the two DataFrames together into a single database
school_data_complete = pd.merge(student_data,school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [5]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [6]:
# Calculate the total number of students
student_count = school_data_complete["Student ID"].count()
school_count

In [7]:
student_count = student_data.count()["Student ID"]
student_count

39170

In [8]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [9]:
# Calculate the average (mean) math score
average_math_score = student_data["math_score"].mean()
average_math_score

78.98537145774827

In [10]:
# Calculate the average (mean) reading score
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [ ]:
# Calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

In [ ]:
# Calculate the percentage of students who passed reading (reading scores greather than or equal to 70)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

In [ ]:
# Calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

In [ ]:
# Calculate the percentage of students that passed math and reading (reading and math scores greather than or equal to 70)
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_percentage = passing_math_reading_count / float(student_count) * 100
overall_passing_percentage

In [ ]:
# Create a DataFrame that summarizes key metrics about each school in the district
district_summary = pd.DataFrame(
    {
        "Total Schools": [school_count], 
        "Total Students": [student_count], 
        "Total Budget": [total_budget],
        "Average Math Score": [average_math_score], 
        "Average Reading Score": [average_reading_score],
        "% Passing Math": [passing_math_percentage],
        "% Passing Reading": [passing_reading_percentage],
        "% Overall Passing": [overall_passing_rate]
    }
)
# Formatting the DataFrame
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:,.2f}".format)

# Display the DataFrame
district_summary

# School Summary

In [ ]:
# Find all of the different school names and their types in the district
school_types = school_data.set_index(["school_name"])["type"]
school_types

In [ ]:
# Calculate the total student count for each school
student_school_counts = school_data.set_index(['school_name'])['size']
student_school_counts

In [ ]:
# Calculate the total school budget and how much each school spends on each student each year
per_school_budget = school_data_complete.groupby(["school_name"])["budget"].mean()
per_school_budget

In [ ]:
per_student_capita = per_school_budget / student_school_counts
per_student_capita

In [ ]:
# Calculate the average math test scores for each school
each_school_math = school_data_complete.groupby(["school_name"])["math_score"].mean()
each_school_math

In [ ]:
# Calculate the average reading test scores for each school
each_school_reading = school_data_complete.groupby(["school_name"])["reading_score"].mean()
each_school_reading

In [ ]:
# Calculate the number of students per school that is passing math with scores of 70 or higher
students_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()
school_students_passing_math

In [ ]:
# Calculate the number of students per school that is passing reading with scores of 70 or higher
students_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
school_students_passing_reading

In [ ]:
# Calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

In [ ]:
# Calculate the passing rate percentage for each school of students who passed math
each_school_passing_math = school_students_passing_math / student_school_counts  * 100
each_school_passing_math

In [ ]:
# Calculate the passing rate percentage for each school of students who passed reading
each_school_passing_reading = school_students_passing_reading / student_school_counts  * 100
each_school_passing_reading

In [ ]:
overall_passing_rate = school_students_passing_math_and_reading / student_school_counts * 100
overall_passing_rate

In [ ]:
# Create a DataFrame called `each_school_summary` with columns for the calculations above
each_school_summary = pd.DataFrame(
    {
        "School Type": school_types,
        "Total Students": student_school_counts,
        "Total School Budget": per_school_budget,
        "Per Student Budget": per_student_capita,
        "Average Math Score": each_school_math,
        "Average Reading Score": each_school_reading,
        "% Passing Math": each_school_passing_math,
        "% Passing Reading": each_school_passing_reading,
        "% Overall Passing": overall_passing_rate
    }
)

# Formatting the Dataframe
each_school_summary["Total School Budget"] = each_school_summary["Total School Budget"].map("${:,.2f}".format)
each_school_summary["Per Student Budget"] = each_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
each_school_summary

# Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = top_schools = each_school_summary.sort_values(["% Overall Passing"], ascending=False)
top_schools.head(5)

# Bottom Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = each_school_summary.sort_values(["% Overall Passing"], ascending=True)
bottom_schools.head(5)

# Math Scores by Grade

In [ ]:
# Separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group the data by `school_name` and take the average of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"])["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby(["school_name"])["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"])["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"])["math_score"].mean()

# Combine each of the scores above into a single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th Grade": ninth_grade_math_scores,
                                   "10th Grade": tenth_grader_math_scores,
                                    "11th Grade": eleventh_grader_math_scores,
                                    "12th Grade": twelfth_grader_math_scores
                                    })

# Remove the Index Name from the data
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

# Math Scores by Grade

In [ ]:
# Separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group the data by `school_name` and take the average of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"])["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"])["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"])["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"])["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame(
    {
        "9th": ninth_grade_reading_scores, 
        "10th": tenth_grader_reading_scores,
        "11th": eleventh_grader_reading_scores, 
        "12th": twelfth_grader_reading_scores
    }
)

# Remove the Index Name from the data
math_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

# Scores by School Spending

In [ ]:
# Establish the bins by creating four bins with reasonable cutoff values to group school spending
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = each_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_student_capita, spending_bins, labels=labels, right=False)
school_spending_df

In [ ]:
# Use 'pd.cut' to categorize spending based on the bins, hen calculate the average scores per spending range
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame for 'Spending Summary'
spending_summary = pd.DataFrame(
    {
        "Average Math Score" : spending_math_scores,
        "Average Reading Score": spending_reading_scores,
        "% Passing Math": spending_passing_math,
        "% Passing Reading": spending_passing_reading,
        "% Overall Passing": overall_passing_spending
    }
)

# Display the DataFrame
spending_summary

# Scores by School Size

In [ ]:
# Create the binds
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `each_school_summary` DataFrame
each_school_summary["School Size"] = pd.cut(each_school_summary["Total Students"], size_bins, labels=labels, right=False)
each_school_summary

In [ ]:
# Calculate averages for the desired columns.
size_math_scores = each_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = each_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = each_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = each_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = each_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
#Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large)
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame(
    {
        "Average Math Score" : size_math_scores,
        "Average Reading Score": size_reading_scores,
        "% Passing Math": size_passing_math,
        "% Passing Reading": size_passing_reading,
        "% Overall Passing": size_overall_passing
    }
)

# Display results
size_summary

# Scores by School Type

In [ ]:
# Group the 'each_school_summary' DataFrame by School Type" and average the results.
average_math_score_by_type = each_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = each_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = each_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = each_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = each_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame(
    {
        "Average Math Score" : average_math_score_by_type,
        "Average Reading Score": average_reading_score_by_type,
        "% Passing Math": average_percent_passing_math_by_type,
        "% Passing Reading": average_percent_passing_reading_by_type,
        "% Overall Passing": average_percent_overall_passing_by_type
    }
)

# Display results
type_summary